Raw/MARS/
Raw/C4_errors/
Raw/C4_field/
Raw/C4_lab/
Raw/on_hold/
Resources/C4Field Metadata.xlsx
Resources/C4Lab Metadata.xlsx
Resources/C4 Measures/

Results/*
dist/
build/
App/SDM.egg-info/
setup.py
test.py
notes.txt
*.pyc
*.pyo